
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 100%;
}
.component-container
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.table-container{margin-top:2%;
width:80%;
height:40%;}

.map-container{margin-bottom:2%;
width:80%;
height:40%;}